In [168]:
import pandas as pd

In [169]:
import numpy as np

In [170]:
dataset = pd.read_csv('tree1.csv')

In [171]:
dataset

      cuaca temperatur lembaban  angin bermain
0     cerah      panas   tinggi  tidak   tidak
1     cerah      panas   tinggi     ya   tidak
2   mendung      panas   tinggi  tidak      ya
3     hujan     sedang   tinggi  tidak      ya
4     hujan     dingin   normal  tidak      ya
5     hujan     dingin   normal     ya      ya
6   mendung     dingin   normal     ya      ya
7     cerah     sedang   tinggi  tidak      ya
8     cerah     dingin   normal  tidak   tidak
9     hujan     sedang   normal  tidak      ya
10    cerah     sedang   normal     ya      ya
11  mendung     sedang   tinggi     ya      ya
12  mendung      panas   normal  tidak      ya
13    hujan     sedang   tinggi     ya   tidak

In [172]:
x = dataset.iloc[:,:-1]

In [173]:
x

      cuaca temperatur lembaban  angin
0     cerah      panas   tinggi  tidak
1     cerah      panas   tinggi     ya
2   mendung      panas   tinggi  tidak
3     hujan     sedang   tinggi  tidak
4     hujan     dingin   normal  tidak
5     hujan     dingin   normal     ya
6   mendung     dingin   normal     ya
7     cerah     sedang   tinggi  tidak
8     cerah     dingin   normal  tidak
9     hujan     sedang   normal  tidak
10    cerah     sedang   normal     ya
11  mendung     sedang   tinggi     ya
12  mendung      panas   normal  tidak
13    hujan     sedang   tinggi     ya

In [174]:
y = dataset.iloc[:,2]

In [175]:
y

0     tinggi
1     tinggi
2     tinggi
3     tinggi
4     normal
5     normal
6     normal
7     tinggi
8     normal
9     normal
10    normal
11    tinggi
12    normal
13    tinggi
Name: lembaban, dtype: object

In [176]:
from sklearn.preprocessing import LabelEncoder

In [177]:
labelencoder_x = LabelEncoder()

In [178]:
x = x.apply(LabelEncoder().fit_transform)

In [179]:
x

    cuaca  temperatur  lembaban  angin
0       0           1         1      0
1       0           1         1      1
2       2           1         1      0
3       1           2         1      0
4       1           0         0      0
5       1           0         0      1
6       2           0         0      1
7       0           2         1      0
8       0           0         0      0
9       1           2         0      0
10      0           2         0      1
11      2           2         1      1
12      2           1         0      0
13      1           2         1      1

In [180]:
from sklearn.tree import DecisionTreeClassifier

In [181]:
regressor=DecisionTreeClassifier()

In [221]:
regressor.fit(x.iloc[:,1:2],y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [224]:
x_in = np.array([1,1,1,4])

In [ ]:
from sklearn.externals.six import StringIO

In [ ]:
from IPython.display import Image

In [227]:
from sklearn.tree import export_graphviz

In [203]:
import pydotplus

In [204]:
dot_data = StringIO()

In [229]:
export_graphviz(regressor, out_file = dot_data, filled = True, rounded=True, special_characters = True)

In [206]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

![](gambar1.png)